@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v16/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
    unicode-range: U+0000-00FF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body {
    border: solid 10px #09d;
    color: #333;
    padding: 10px;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}
h1 {
    color: #09d;
    font-size: 40px;
}
label {
    display: block;
}
#results {
    color: red;
    font-size: 40px;
}
